@model WebAppMVC.ViewModel.TeacherSubjectsViewModel

<div class="tools">
    <h1>@Model.CurrentSubject.SubjectName</h1>
    <a class="nav__link butt" asp-controller="Admin" asp-action="AddIntoTimeTable" 
       asp-route-teach="@Model.CurrentTeacher.AccountId" 
       asp-route-subj="@Model.CurrentSubject.SubjectId">Добавить</a>
</div>

<table class="table-info">
    <thead>
        <tr>
            <td>ФИО</td>
            <td>Группа</td>
            <td>День</td>
            <td>Номер занятия</td>
            <td>Управление</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var tt in Model.Timetable)
        {
            <tr>
                @{
                    var student = Model.Students.FirstOrDefault(s => s.AccountId == Model.Records.FirstOrDefault(r => r.RecordId == tt.RecordId).StudentAccountId);
                }
                <td>@student.StudentSname @student.StudentName @student.StudentLname</td>
                <td>@student.StudentGroup</td>
                <td>@Model.GetWeekDayByNumber((int)tt.TtWeekDay)</td>
                <td>@tt.TtNumLesson</td>
                <td>
                    <a class="nav__link" asp-controller="Admin" asp-action="EditTimetable" 
                       asp-route-teach="@Model.CurrentTeacher.AccountId"
                       asp-route-subj="@Model.CurrentSubject.SubjectId"
                       asp-route-rec="@tt.TtId"
                       >Изменить</a>/
                    <a class="nav__link" asp-controller="Admin" asp-action="RemoveTimetable" 
                       asp-route-teach="@Model.CurrentTeacher.AccountId"
                       asp-route-subj="@Model.CurrentSubject.SubjectId"
                       asp-route-rec="@tt.TtId"
                       >Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>