@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DomainCore.Models.Account>

<div class="tools">
    <h1>АККАУНТЫ</h1>
    <a class="nav__link butt" asp-controller="Admin" asp-action="CreateAccount">Создать аккаунт</a>
</div>

<table class="table-info">
    <thead>
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>Дата создания</td>
            <td>Дата окончания</td>
            <td>Тип учетной записи</td>
            <td>Управление</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountId</td>
                <td>@item.LoginName</td>
                <td>@item.DateCreate</td>
                <td>@item.DateEnd</td>
                <td>@item.AccountType</td>
                <td>
                    <a class="nav__link" asp-controller="Admin" asp-action="EditAccount" asp-route-id="@item.AccountId">Изменить</a>/
                    <a class="nav__link" asp-controller="Admin" asp-action="RemoveAccount" asp-route-id="@item.AccountId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>