@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DomainCore.Models.Account>

<h1>АККАУНТЫ</h1>
<a asp-controller="Home" asp-action="CreateAccount">Создать аккаунт</a>
<table class="table-info">
    <thead>
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>ХЕШ пароля</td>
            <td>Дата создания</td>
            <td>Дата окончания</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AccountId</td>
                <td>@item.LoginName</td>
                <td>@item.Hpassword</td>
                <td>@item.DateCreate</td>
                <td>@item.DateEnd</td>
                <td><a href="#">Изменить</a></td>
            </tr>
        }
    </tbody>
</table>