@{
    Layout = "~/Views/Home/Index.cshtml";
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DomainCore.Models.Student>

<h1>СТУДЕНТЫ</h1>
<a href="#">Добавить нового студента</a>
<table class="table-info">
    <thead>
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Группа</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr><td>@item.AccountId</td><td>@item.StudentSname</td><td>@item.StudentName</td><td>@item.StudentLname</td><td>@item.StudentGroup</td><td><a href="#">Изменить</a></td></tr>
        }
    </tbody>
</table>